<div class="dropdown">
  <button class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown"></button>

  <div class="dropdown-menu">
    <%= link_to('Delete', workout_path(workout), class: 'dropdown-item', method: :delete, data: { confirm: "Delete workout day #{workout.date}?" }) %>
  </div>
</div>
