<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <th scope="col"><%= link_to(workout.date, workout) %></th>
      </tr>
    <% end %>
  </tbody>
</table>
