<div class="row mt-3">
  <div class="col">
    <%= month_calendar(events: @workouts, attribute: :date) do |date, workouts| %>
      <small class="text-muted float-right"><%= date.day %></small>

      <% workouts.each do |workout| %>
        <div>
          <span class="d-none d-sm-inline">
            <%= render 'actions', workout: workout %>
          </span>
          <%= link_to(workout.created_at.to_s(:local_time), workout) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
