<div class="row">
  <div class="col">
    <h2>Start Workout</h2>

    <%= form_for(@workout) do |f| %>
      <div class="form-group">
        <%= f.date_field :date, value: Date.today %>
      </div>

      <%= f.submit('Start', class: 'btn btn-primary') %>
    <% end %>
  </div>
</div>
