<div class="row mt-4">
  <div class="col">
    <div class="card shadow-sm bg-white rounded">
      <div class="card-header">
        Start Workout
      </div>

      <div class="card-body">
        <%= form_for(@workout) do |f| %>
          <div class="form-group">
            <%= f.date_field :date, value: Date.today %>
          </div>

          <%= f.submit('Start', class: 'btn btn-primary') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
