<%= graph_row do %>
  <h5>Minutes Progression <small class="text-muted">per routine</small></h5>
  <%= line_chart(@minutes_progression, discrete: true) %>
<% end %>

<%= graph_row do %>
  <h5>Distance Progression <small class="text-muted">per routine; in miles</small></h5>
  <%= line_chart(@distance_progression, discrete: true) %>
<% end %>
