<%= graph_row do %>
  <h5>Minutes Progression <small class="text-muted">per routine</small></h5>
  <%= line_chart(@minutes_progression, discrete: true) %>
<% end %>

<%= graph_row do %>
  <h5>Set Progression <small class="text-muted">per workout</small></h5>
  <%= line_chart(@set_progression, discrete: true) %>
<% end %>
