<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to('Routine Types', routine_types_path) %></li>
    <li class="breadcrumb-item active"><%= @routine_type.name %></li>
  </ol>
</nav>

<%=
  case
  when @routine_type.metric_distance?
    render 'distance_based_graphs'
  when @routine_type.metric_time?
    render 'time_based_graphs'
  when @routine_type.metric_weight?
    render 'weight_based_graphs'
  end
%>
